body{
    background-image: url('https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
    
}
.card{
    width: 300px;
    height: 350px;
    border: 1px solid gray;
}
.photo{
    width: 100px;
    border-radius: 50px;
}
.info{
    display: flex;
    justify-content: space-evenly;
}
.card-btn{
    background-color: aquamarine;
    color: black;
}
.home-container{
    display: flex;
}
.card-container{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
